{
  "presets": ["next/babel", "es2017", "stage-0"],
  "plugins": ["transform-runtime", "babel-plugin-transform-decorators-legacy"],
  "env": {
    "development": {
      "plugins": [
        [
          "inline-dotenv",
          {
            "path": ".env.development"
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "inline-dotenv",
          {
            "path": ".env.production"
          }
        ]
      ]
    }
  }
}
